/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark {
  --main-title-color: #db00ff;
  --background-color: #000028;
  --subtitle-color: #000028;
  --main-text-color: #f1b2ce;
  --text-background-color: #ff0070;
  --section-title: #ff0070;
  --background-image: url(../images/cover-image-dark.png);
  --content-rec: "REC";
  --content-circle: "";
  --text-link-state: #f1b2ce;
  --menu-general: #ff0070;
  --menu-outline: rgba(255, 0, 112, 0.4);
}
