ct/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
  --main-title-color: #ffc2e6;
  --background-color: #fff1f7;
  --main-text-color: #353430;
  --subtitle-color: #353430;
  --text-background-color: #ff8dcb;
  --section-title: #353430;
  --background-image: url(../images/cover-image-light.png);
  --content-rec: none;
  --content-circle: none;
  --text-link-state: #353430;
  --menu-general: #353430;
  --menu-outline: rgba(50, 49, 45, 0.4);
}

@media (prefers-color-scheme: light) {

:root {
  --main-title-color: #ffc2e6;
  --background-color: #fff1f7;
  --subtitle-color: #353430;
  --main-text-color: #353430;
  --text-background-color: #ff8dcb;
  --section-title: #353430;
  --background-image: url(../images/cover-image-light.png);
  --content-rec: none;
  --content-circle: none;
  --text-link-state: #353430;
  --menu-general: #353430;
  --menu-outline: rgba(50, 49, 45, 0.4);
}

}
