ct/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
  --main-title-color: #FFC2E6;
  --background-color: #FFF1F7;
  --main-text-color: #353430;
  --subtitle-color: #353430;
  --text-background-color: #FF8DCB;
  --section-title: #353430;
  --background-image: url(../images/cover-image-light.png);
  --content-rec: none;
  --content-circle: none;
  --text-link-state: #353430;
  --menu-general: #353430;
  --menu-outline: rgba(50, 49, 45, 0.40);

}



@media (prefers-color-scheme: light) {

}

:root {
  --main-title-color: #FFC2E6;
  --background-color: #FFF1F7;
  --subtitle-color: #353430;
  --main-text-color: #353430;
  --text-background-color: #FF8DCB;
  --section-title: #353430;
  --background-image: url(../images/cover-image-light.png);
  --content-rec: none;
  --content-circle: none;
  --text-link-state: #353430;
  --menu-general: #353430;
  --menu-outline: rgba(50, 49, 45, 0.40);
}




