/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --main-title-color: #DB00FF;
  --background-color: #000028;
  --main-text-color: #F1B2CE;
  --text-background-color: #FF0070;
  --subtitle-color: #353430;
  --section-title: #FF0070;
  --content-rec: "REC";
  --content-circle: "";
  --text-link-state: #F1B2CE;
  --menu-general: #FF0070;
  --menu-outline: rgba(255, 0, 112, 0.40);
  --background-image: url(../images/cover-image-dark.png);
} 


